* {
  margin: 0;
  padding: 0;  
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    width: 100%;
    height: 100%;
}


body {
    background-image: url(../img/Versaoexclusiva-assinantes/fundos\ \(3\).jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    
}

.all {
    display: flex;
    margin-top: 45px;
    position: relative;
    align-items: center;
    height: 100%;
    transition: 2s;
    position: relative;
}

.all h1 {
    color: rgb(49, 48, 48);
    text-shadow: black 20px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.ufpe {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -7%; /*top: 5%*/
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.all .ufpe .box {
    display: flex;
    padding-top: 15px;
    text-align: center;

}

.ufrpe {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 15px;
    bottom: 18%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.all .ufrpe .box {
    display: flex;
    padding-top: 15px;
    text-align: center;
}


.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 150px;
}

input {
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    display: block;
}

button {
    border-radius: 7px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.all h4 a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    display: flex;
    padding-top: 25px;
}

.all h4 a:hover {
    text-decoration: none;
    color: rgb(102, 46, 206);
    font-size: 20px;
    transition: .7s;
}

@media screen and (max-width: 1130px) {
    body {
        background-blend-mode: darken;
    }

    .all h1 {
        font-size: 20px;
        background: rgb(122, 121, 121);
        color: #000;
        border-radius: 10px;
        padding: 5px;
    }

    input {
        width: 110px;
    }

    button {
        width: 50px;
    }

    h4 {
        font-size: 12px;
    }

}